/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}

.text-area{
        /*  font-family:"Courier New",Courier,monospace; */
    -fx-font-family: monospace;
    -fx-font-size: 12;
    -fx-font-style: normal;
    -fx-text-fill: black;
}